.exemplo01{
    width: 300px;
    height: 300px;
    background-color: aqua;
    background-image: url('../imagens/paisagem-florestal_71767-127.avif');

}

.exemplo02{
    width: 300px;
    height: 300px;
    background-color: aqua;
    background-image: linear-gradient(aqua, violet, blue);

}

.exemplo03{
    width: 300px;
    height: 300px;
    background-color: aqua;
    background-image: radial-gradient(aqua, violet, blue);

}

.exemplo04{
    width: 300px;
    height: 300px;
    background-color: aqua;
    background-image: repeating-linear-gradient(to bottom,lightblue 0 20px, aqua 20px 40px, blue 40px 60px);
}

.exemplo05{
    width: 300px;
    height: 300px;
    background-color: aqua;
    background-image: repeating-radial-gradient( blue 0 5px, lightblue 5px 10px, aqua 10px 15px);
}

.exe-bksize{
    width: 300px;
    height: 300px;
    background-image: url(../imagens/paisagem-florestal_71767-127.avif);
    border: 3px solid blue;
}

#bk-cover{
    background-size: cover;
}

#bk-contain{
    background-size: contain;
}

#bk-tamanho{
    background-size: 50%;
    /* background-size: 200px;*/
}

#bk-exemplo-x-y{
    background-size: 200px 250px;
}

#bk-exemplodecamadas{
    background-image: url(../imagens/leaves-5949884_1280.png),url(../imagens/paisagem-florestal_71767-127.avif);
    background-size: 100px , cover;
}

#bk-repeat01{
    background-size: 120px;
    border: 3PX solid blue;

}

#bk-repeat02{
    background-size: 120px;
    background-repeat: repeat-x;
    border: 3PX solid blue;

}

#bk-repeat03{
    background-size: 120px;
    border: 3PX solid blue;
    background-repeat: repeat-y;

}

#bk-repeat04{
    background-size: 120px;
    border: 3PX solid blue;
    background-repeat: space;

}

#bk-repeat05{
    background-size: 120px;
    border: 3PX solid blue;
    background-repeat: round;

}


#bk-repeat06{
    background-size: 120px;
    border: 3PX solid blue;
    background-repeat: no-repeat;

}

#bk-Position01{
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: bottom;

}

#bk-Position02{
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: top;

}

#bk-Position03{
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: left;

}

#bk-Position04{
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: right;

}

#bk-Position05{
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;

}

#bk-Position06{
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: 10px 30px;

}

#bk-Position07{
    background-size: 120px;
    background-repeat: no-repeat;
    background-position:  left bottom;

}

#bk-Position08{
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: left 35%;

}

#bk-Position09{
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: left 25% bottom 15%;

}