body{
    height: 200vh;
}

div{
    margin-bottom: 30px;
}

.exemplo{
    width: 300px;
    height: 300px;
    background-image: url(../imagens/paisagem-florestal_71767-127.avif);
    background-size: cover;
    border: 3px solid blue;
    overflow: auto;

}

#fixed{
    background-attachment: fixed;

}

#scroll{
    background-attachment: scroll;

}

#local{
    background-attachment: local;

}

.exemplo2{
    width: 300px;
    height: 300px;
    background-image: url(../imagens/paisagem-florestal_71767-127.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 6px dashed blue;
    overflow: auto;
    padding: 30px;

}

#padding-box{
    background-origin: padding-box;

}

#border-box{
    background-origin: border-box;
}

#content-box{
    background-origin: content-box;
}

.exemplo3{
    width: 300px;
    height: 300px;
    color: white;
    border: 6px dashed darkcyan;
    padding: 30px;
    font-size: 40px;
    font-weight: 900;
    background-color: coral;

}

#padding-box3{
    background-clip:padding-box ;
}

#borde-box3{
    background-clip: border-box;
}

#content-box3{
    background-clip: content-box;
}

#text-box3{
    
    background-clip: text;
    color: transparent;
}

.grid{
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.grid>div{
    text-align: center;
}

.exemplo4{
    width: 300px;
    height: 300px;
    color: white;
    border: 6px dashed darkcyan;
    padding: 30px;
    font-size: 130px;
    font-weight: 900;
    background-color: crimson;
    background-image: url(../imagens/paisagem-florestal_71767-127.avif);
    text-align: center;

}

#blend-mode-01{
    background-blend-mode: multiply;
}

#blend-mode-02{
    background-blend-mode: screen;
}

#blend-mode-03{
    background-blend-mode: overlay;
}

#blend-mode-04{
    background-blend-mode: color;
}

#blend-mode-05{
    background-blend-mode: color-burn;

}

#blend-mode-06{
    background-blend-mode: color-dodge;
}

#blend-mode-07{
    background-blend-mode: darken;
}

#blend-mode-08{
    background-blend-mode: difference ;
}

#blend-mode-09{
    background-blend-mode: exclusion;
}

#blend-mode-10{
    background-blend-mode: hard-light;
}

#blend-mode-11{
    background-blend-mode: hue;
}

#blend-mode-12{
    background-blend-mode: lighten;
}

#blend-mode-13{
    background-blend-mode: luminosity;
}

#blend-mode-14{
    background-blend-mode: normal;
}

#blend-mode-15{
    background-blend-mode: saturation;
}

#blend-mode-16{
    background-blend-mode: soft-light;
}

