

.exemplo{
    width: 300px;
    height: 300px;
    background-image: url(../imagens/paisagem-florestal_71767-127.avif);
    background-size: cover;
    border: 3px solid blue;
    overflow: auto;

}

#fixed{
    background-attachment: fixed;

}

#scroll{
    background-attachment: scroll;

}

#local{
    background-attachment: local;

}

.exemplo2{
    width: 300px;
    height:300px;
    background-image: url(../imagens/paisagem-florestal_71767-127.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 6px dashed blue;
    overflow: auto;
    padding: 30px;

}

#padding-box{
    background-origin: padding-box;

}

#border-box{
    background-origin: border-box;
}

#content-box{
    background-origin: content-box;
}

.exemplo3{
    width: 300px;
    height: 300px;
    color: white;
    border: 6px dashed darkcyan;
    padding: 30px;
    font-size: 40px;
    font-weight: 900;
    background-color: coral;

}

#padding-box3{
    background-clip:padding-box ;
}

#borde-box3{
    background-clip: border-box;
}

#content-box3{
    background-clip: content-box;
}

#text-box3{
    
    background-clip: text;
    color: transparent;
}

.grid{
    display: grid ;
    grid-template-columns:  auto auto auto;
    
    
}

.grid>div{
    text-align: center;
    margin: auto;
    
    
}

.grid>div>div{
    text-align: center;
    margin: auto 5px;
    
    
}

.exemplo4{
    width: 300px;
    height: 300px;
    color: white;
    font-size: 130px;
    font-weight: 900;
    background-color: crimson;
    background-image: url(../imagens/paisagem-florestal_71767-127.avif);
    text-align: center;

}

#blend-mode-01{
    background-blend-mode: multiply;
}

#blend-mode-02{
    background-blend-mode: screen;
}

#blend-mode-03{
    background-blend-mode: overlay;
}

#blend-mode-04{
    background-blend-mode: color;
}

#blend-mode-05{
    background-blend-mode: color-burn;

}

#blend-mode-06{
    background-blend-mode: color-dodge;
}

#blend-mode-07{
    background-blend-mode: darken;
}

#blend-mode-08{
    background-blend-mode: difference ;
}

#blend-mode-09{
    background-blend-mode: exclusion;
}

#blend-mode-10{
    background-blend-mode: hard-light;
}

#blend-mode-11{
    background-blend-mode: hue;
}

#blend-mode-12{
    background-blend-mode: lighten;
}

#blend-mode-13{
    background-blend-mode: luminosity;
}

#blend-mode-14{
    background-blend-mode: normal;
}

#blend-mode-15{
    background-blend-mode: saturation;
}

#blend-mode-16{
    background-blend-mode: soft-light;
}


.exemplo5{
    width: 300px;
    height: 300px;
    color: green;
    border: 6px dashed darkcyan;
    padding: 30px;
    font-size: 130px;
    font-weight: 900;

    background:
        url(../imagens/leaves-5949884_1280.png) /*IMAGEM*/
        top center /100% 100% /* defino a posição depois o tamanho*/
        no-repeat /* repeat*/
        scroll /* atachament*/
        padding-box /*origin*/
        content-box /*Clip*/
        rgb(122, 216, 122) /*background color*/
    ;

}

.grid-1{
    display: grid;
    grid-template-columns: auto auto;
}

.grid-1>div{
    text-align: center;
}
.grid-1>p{

    color: blue;
}
.grid-1>div>div{
    margin: auto;
}



.exemplo6{
    width: 300px;
    height: 300px;
    color: greenyellow;
    font-size: 130px;
    font-weight: 900;
    background-color: crimson;
    border-width: 10px;
    
    
}

#border-01{

    border-style: dashed;
}

#border-02{

    border-style:dotted ;

}

#border-03{

    border-style: double;

}

#border-04{

    border-style: groove;

}

#border-05{

    border-style: hidden;

}

#b1-b{
    border-style: double;
}

#border-06{

    border-style: inherit;

}

#border-07{

    border-style:inset ;

}

#border-08{

    border-style: outset;

}

#border-09{

    border-style: ridge;

}

#border-10{

    border-style: solid;

}

#border-11{
   
    border: 10px solid aqua;

}

#radius-01{
   
    border-radius: 13px;

}

#radius-02{
   
    border-radius: 13px 25px 35px;

}


#radius-03{
   
    border-radius: 20px / 45px;

}

img{
    margin: auto;
    width: 300px;

}


.exemplo7{
    width: 300px;
    height: 300px;
    background-color: black;
    border: 20px solid;
 
}

#bis-01{
    border-image-source: url(../imagens/leaves-5949884_1280.png);
}

#bis-02{
    border-image-source: linear-gradient(aqua,blue);
}

#bis-03{
    border-image-source:none ;
}

#bis-04{
   
    border-image-source:url(../imagens/STARS.png);
    border-image-slice: 160;
}

#bis-05{
    border-image-source:url(../imagens/STARS.png);
    border-image-slice: 160 fill;
}

#bis-06{
    border-image-source:linear-gradient(aqua, blue) ;
    border-image-slice: 100px;
}


#bis-07{
   
    border-image-source:url(../imagens/STARS.png);
    border-image-slice: 160;
    border-image-width: 60px;
}

#bis-08{
   
    border-image-source:url(../imagens/STARS.png);
    border-image-slice: 160;
    border-image-width: 60px 120px;
}

#bis-09{
   
    border-image-source:url(../imagens/STARS.png);
    border-image-slice: 160;
    border-image-width: 60px 120px 45%;
}

#bis-10{
   
    border-image-source:url(../imagens/STARS.png);
    border-image-slice: 170;
    border-image-width: 46px;
    border-image-repeat: repeat;
}

#bis-11{
   
    border-image-source:url(../imagens/STARS.png);
    border-image-slice: 170;
    border-image-width: 41px;
    border-image-repeat: stretch;
}

#bis-12{
   
    border-image-source:url(../imagens/STARS.png);
    border-image-slice: 170;
    border-image-width: 46px;
    border-image-repeat:round ;
}

#bis-13{
   
    border-image-source:url(../imagens/STARS.png);
    border-image-slice: 170;
    border-image-width: 49px;
    border-image-repeat: space;
}

#bis-14{
   
    border-image-source:url(../imagens/STARS.png);
    border-image-slice: 170;
    border-image-width: 46px;
    border-image-repeat:round ;
    border-image-outset: 30px ;
}


#bis-15{
   
    border-image-source:url(../imagens/STARS.png);
    border-image-slice: 170;
    border-image-width: 46px;
    border-image-repeat:round ;
    border-image-outset: 17px 35px;
}

#bis-16{
   
    border-image: 
    url(../imagens/STARS.png) /*Define a imagem ou gradiente*/
    170 / 46px / 1px          /*define o Slice | Width | outset*/
    round                     /*define o repeat*/

}